.login {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: auto;
    background-color: #c0deed;
    width: 100%;
}

.login > div > img {
    height: 300px;
    margin-top: -70px;
    object-fit: contain;
}

.login__name {
    width: 425px;
    object-fit: contain;
    margin-top: -50px;
}

.login > h2 {
    margin-top: -90px;
}

.login > div {
    display: flex;
    flex-direction: column;
}

.login > Button {
    padding: 10px 140px;
    border-radius: 999px;
    background-color: #1da1f2;
    color: white;
    font-weight: 700;
    font-size: medium;
}

.login > Button:hover {
    background-color: #0084b4;
    /* color: #1da1f2; */
}
