.sidebar {
    margin-left: 20px;
    padding-right: 50px;
    border-right: solid 1px lightgray;
    min-height: 100vh;
    position: sticky;
    top: 0px;
}

.sidebar__img {
    width: 60px;
    object-fit: contain;
}

.sidebar__logo > button {
    border-radius: 999px;
}

.sidebar__button {
    background-color: #1da1f2;
    border-radius: 999px;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar__button:hover {
    background-color: #0084b4;
}

.sidebar__button > Button {
    font-weight: 700;
    color: white;
    padding: 10px;
}

.sidebar__button:hover {
    cursor: pointer;
}
